.e_code{overflow:hidden;width:100%;float:left;clear:left;margin-bottom:10px;font-family:'宋体';}
.e_code_tab{ border-collapse:collapse;clear:left;float:left}
.e_code_tab td,th{ border:solid 1px #888888;line-height:20px;font-family:'宋体';font-size:12px;padding:0px 3px;margin:0px;height:20px;}
.e_code_codecontainer{background-color:#FdFdFd;width:100%;float:left}
.e_code_codeline{float:left;clear:left;font-size:12px;font-family:'宋体';line-height:18px;height:18px}
.e_code_codeline font{font-size:12px;font-family:'宋体';}
.e_code_copy{height:30px;background-color:#E9ECF4;width:100%;float:left;clear:left;}
.e_code_data{width:100%;height:100%;display:none;clear:left;float:left}
.e_code_codearea{clear:left;float:left;line-height:8px;font-size:12px;overflow:hidden;padding-top:5px;}
.e_code_copy_button a{display:block;width:80px;height:25px;overflow:hidden;background-color:#45A3E1;color:#ffffff; font-size: 12px;text-decoration:none;text-align:center;line-height:25px;float:left}
.e_code_copy_codedata { width:100%;height:100%;overflow:auto; word-break:break-all;}
.e_code_tab_width{height:18px;float: left;}
.e_code_type_col {color:#000000;background-color:#ECECEC;}
.e_code_type_col_content {color:#000000;background-color:#FFFFFF;}